/* CSS Huck */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    font-size: 1em;
    overflow: auto;
}

body {
    font-size: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #efefef;
}

p {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h1,
h2,
h3,
h4,
h5 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    -webkit-padding-start: 0em;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a img,
 :link img,
 :visited img {
    border: 0;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    outline: none;
}


/* remember to define focus styles! */

 :focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

img,
div {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(…);
}

img {
    -ms-interpolation-mode: bicubic;
}


/* End CSS Huck */


/* Main CSS */

.logo {
    width: 200px;
    height: auto;
}

.logo-link {
    position: relative;
    z-index: 99;
}

#section-hello p {
    padding: 10px 0 0 0;
}

input[type=email] {
    float: left;
    margin-right: 10px;
    color: white;
    width: 115px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input[type=email]:hover {
    background-color: rgba(0, 0, 0) !important;
}

input[type=email]:active,
input[type=email]:focus {
    width: 215px;
}

.hide-el {
    position: absolute;
    font-style: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

#subscribe {
    padding-top: 5px;
    visibility: hidden;
    background: none;
    color: black;
}

input[type=email]:active.required+#subscribe,
input[type=email]:focus.required+#subscribe {
    display: inline-block;
    visibility: visible;
}

.form {
    border-radius: 18.75em;
    height: 32px;
}

#loading {
    text-align: center;
    width: 100%;
    font-size: 1em;
    line-height: 1.3em;
}

.form #submitEmail {
    display: none;
    background: none;
    color: white;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

#form input[type=email].subscribe-error {
    background-color: #DB2352;
}

input[type=email].subscribed {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    width: 115px;
    background-color: #22AA60;
}

input[type=email].subscribed:hover {
    background-color: #22AA60;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    line-height: 20px;
    font-size: 14px;
}

.error {
    color: #DB2352;
}

.success {
    max-width: 770px;
    color: #22AA60;
}

#response {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

#message {
    position: absolute;
    left: 0px;
    top: 47px;
    width: 250px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .05);
}

#message:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    border-bottom: 10px solid rgba(255, 255, 255, 1);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    transition: .5s;
}

#section-audience>div {
    padding-right: 1.2em;
    padding-left: 1.2em;
}

#section-audience .service-box {
    padding-top: 2em;
}

.service-box p {
    margin-bottom: 0;
    text-align: justify;
}

.block {
    background: #e0e0e0;
}

.coming-soon {
    opacity: 0.7 !important;
}


/* Placeholder behaviour */

input[type=email]::-webkit-input-placeholder {
    color: white !important;
    transition: color 0.7s ease;
}

input[type=email]:-ms-input-placeholder {
    color: white !important;
    transition: color 0.7s ease;
}

input[type=email]::-moz-placeholder {
    color: white !important;
    transition: color 0.7s ease;
    opacity: 1;
}

input[type=email]:-moz-placeholder {
    color: white !important;
    opacity: 1;
    transition: color 0.7s ease;
}

input[type=email]:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .4) !important;
}

input[type=email]:focus:-ms-input-placeholder {
    color: rgba(255, 255, 255, .4) !important;
}

input[type=email]:focus::-moz-placeholder {
    color: rgba(255, 255, 255, .4) !important;
    opacity: 1;
}

input[type=email]:focus:-moz-placeholder {
    color: rgba(255, 255, 255, .4) !important;
    opacity: 1;
}


/* Autofill behaviour */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 300s ease-in-out 0s;
    animation: chColor 0s both;
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
p,
a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

label {
    font-weight: normal !important;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.2em;
}

 ::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222;
}

 ::selection {
    color: white;
    text-shadow: none;
    background: #222;
}

ul {
    margin: 0.5em 0em;
}

hr {
    border-width: 0.3em;
    border-color: #231f20;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
}

hr.underline {
    border-width: 0.3em;
    border-color: #231f20;
    text-align: left;
    margin-left: 0 !important;
    margin: 1.9em;
}

a {
    color: #231f20;
    font-size: 0.875em;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

a:hover,
a:focus {
    color: #594f51;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 18.75em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #231f20;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    border-color: inherit;
    outline-color: inherit;
    border: 0 !important;
    outline: 0 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active.focus {
    color: white;
    background-color: rgb(64, 64, 64);
    border-color: inherit;
    outline-color: inherit;
    border: 0 !important;
    outline: 0 !important;
}

section>.row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5 {
    width: 27.777777777777%;
    float: left;
}

@keyframes chColor {
    100% {
        color: white
    }
}


/* Media queries */

@media (min-width: 1200px) {
    .col-lg-5 {
        width: 27.777777777777%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5 {
        width: 27.777777777777%;
        float: left;
    }
}

@media (min-width: 768px) {
    body {
        background: url('../images/background.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .col-sm-5 {
        width: 27.777777777777%;
        float: left;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-top: 40px;
    }
    hr.underline {
        margin: 1em;
    }
    section>.row {
        padding-top: 0px;
    }
    #section-hello span {
        display: block;
        margin-top: 5px;
    }
    #section-hello h1 {
        font-size: 1.875em;
        line-height: 1.2em;
    }
    #section-hello h3 {
        font-size: 1.3em;
        line-height: 1.4em;
    }
    #section-hello div,
    #section-hello button {
        font-size: 0.875em;
    }
    #enter,
    #loading {
        padding-top: 5px;
        font-size: 14px;
    }
}