language: node_js
node_js: stable
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
    target_branch: gh-pages
    fqdn: repometric.com
  
